geckodriver.log

#Django Stuff
*.log
settings.py
db.sqlite3


# Environments
.env
.venv
.virtualenvs
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


#IDEA
.idea/workspace.xml
.idea/

# Distribution / packaging
.Python
downloads/
lib/
lib64/
bin/
include/
pip-selfcheck.json
